* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #edf6f9;
}

.heading {
  font-size: 3rem;
  font-weight: 200;
}

.box {
  margin: 1rem;
  padding: 1rem;
}
